@model IEnumerable<HouseRent.Models.Advertise>
@using System
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Find Your Dream Home...";
}

<h2>Find Your Dream Home...</h2>
<br />
<form asp-action="Index" asp-controller="Advertises" method="get">

    <table class="table-responsive">
        <tr>
            <td class="form-control">From:</td>
            <td>
                <input type="date" name="rentfrom" class="form-control" />
            </td>
            <td>
                <input type="text" placeholder="Area" name="area" class="form-control" />
            </td>
            <td>
                <select name="type" class="form-control">
                    <option value="">House Type</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Penthouse">Penthouse</option>
                    <option value="Duplex">Duplex</option>
                    <option value="Room">Room</option>
                    <option value="Plaza">Plaza</option>
                    <option value="Building">Building</option>
                    <option value="Plot">Plot</option>
                </select>
            </td>
            <td>
                <select name="rent" class="form-control">
                    <option value="">Rent Range</option>
                    <option value="05K-10K">05K-10K</option>
                    <option value="10K-15K">10K-15K</option>
                    <option value="15K-20K">15K-20K</option>
                    <option value="20K-25K">20K-25K</option>
                    <option value="25K-30K">25K-30K</option>
                </select>
            </td>
            <td>
                <select name="category" class="form-control">
                    <option value="">House Category</option>
                    <option value="male">Male Bachelor</option>
                    <option value="female">Female Bachelor</option>
                    <option value="family">Family</option>
                </select>
            </td>
            <td>
                <input type="submit" value="Search" class="btn btn-info" />
            </td>
        </tr>
    </table>
</form>

<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlatType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rent)
                    &#2547;
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlatDetails)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    @if (@Context.Session.GetString("sRole") == "admin")
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID"> Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
